---
import Hero from "@/components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import NavBar from "@/ui/NavBar.astro";
import Footer from "@/components/Footer.astro";
import HowItWorks from "@/components/HowItWorks.astro";
import Operator from "@/components/Operator.astro";
import Philosophy from "@/components/Philosophy.astro";
import Team from "@/components/Team.astro";
import Challenge from "@/components/challenge.astro"
import FaqSection from "@/components/FaqSection.astro";
import Popup from "@/components/Popup.astro";
import NavContent from "@/ui/NavContent.astro"

---

<Layout>
  <img
    src="/svgs/curvy.svg"
    class="absolute w-full object-cover lg:w-screen h-full top-5 left-0"
    aria-hidden="true"
    alt=""
  />
<NavContent />
  <Popup />

  <section
    class="mx-auto min-h-screen relative flex flex-col items-center gap-30 h-full w-full lg:max-w-[1214px]"
  >
    <NavBar />
    <Hero />
    <HowItWorks />
    <Operator />
    <Philosophy />
  </section>

  <section class="relative min-h-screen h-max w-full">
    <img
      src="/svgs/curvy.svg"
      loading="lazy"
      class="absolute object-cover md:w-screen -z-10 inset-0 md:h-fit h-[70vh] top-0 left-0"
      aria-hidden="true"
      alt=""
    />

    <section
      class="mx-auto min-h-screen w-full pb-20 md:pb-40 flex flex-col items-center gap-40 h-full max-w-[1214px]"
    >
      <Team />
      <Challenge />
      <FaqSection />
    </section>
  </section>
  <Footer />
</Layout>
