<section
  class="w-full min-h-96 rounded-2xl max-h-[480px] bg-secondary relative hidden md:flex items-center justify-between"
>
  <article class="flex px-10 flex-col items-start gap-18">
    <p class="text-foreground font-open leading-14 text-5xl">
      Don’t click this button to generate a random challenge... wink.
    </p>
    <button
      id="open-popup"
      class="py-1.5 font-inter font-semibold cursor-pointer bg-white rounded-lg text-foreground px-3"
      >Generate Challenge</button
    >
  </article>
  <img src="/svgs/magnet.svg" loading="lazy" class="max-w-[50%]" alt="" />
</section>

<script>
  window.addEventListener("DOMContentLoaded", async () => {
    const { togglePopup } = await import("../scripts/popup.js");
    const openBtn = document.querySelector("#open-popup");

    function handleClick() {
      togglePopup("#popup", "#popup-content", "open");
    }

    openBtn?.addEventListener("click", handleClick);
  });
</script>
