

<section
  id="howitworks"
  class="w-full flex px-4 lg:px-10 flex-col items-center pb-6 gap-10 lg:gap-20 2xl:gap-30 justify-between min-h-screen 2xl:min-h-auto"
>
  <h1 class="text-center font-cunia uppercase text-foreground text-4xl lg:text-7xl">
    How it works
  </h1>

  <section class="w-full flex flex-col gap-3">
    <div class="flex flex-col md:flex-row items-center h-fit w-full gap-2">
      <article
        class="bg-offWhite rounded-3xl flex flex-col items-center pt-8 px-7  lg:w-[60%] gap-4 h-80"
      >
        <figure
          class="w-full relative col-center gap-4 bg-white rounded-2xl h-44"
        >
          <img
            loading="lazy"
            src="/icons/asterik.svg"
            class="absolute left-1 top-2"
            aria-hidden="true"
            alt=""
          />
          <h5 class="text-neutral-dark font-cunia font-bold tracking-wide">
            Goal setup
          </h5>
          <div class="col-center w-full gap-5 max-w-72">
            {
              Array.from({ length: 3 }, (_) => (
                <img
                  loading="lazy"
                  src="/icons/line.svg"
                  class="w-full shrink-0"
                  alt=""
                  aria-hidden="true"
                />
              ))
            }
          </div>

          <img
            loading="lazy"
            src="/icons/check.svg"
            class="absolute right-5 top-1/2"
            aria-hidden="true"
            alt=""
          />
        </figure>
        <p>
          Set your goal fundraising, sales, grad schools admissions,
          international internships, or outreach.
        </p>
      </article>

      <article
        class="bg-offWhite rounded-3xl flex flex-col items-center pt-8 px-4 lg:w-[40%] gap-4 h-80"
      >
        <figure
          class="w-full bg-white flex items-center flex-col gap-2 pb-2 justify-end pr-4 relative rounded-2xl h-44"
        >
          <img
            loading="lazy"
            src="/icons/sparkle.svg"
            class="absolute left-3 top-0"
            aria-hidden="true"
            alt=""
          />
          <h5 class="text-neutral-dark font-cunia font-bold tracking-wide">
            your Challenge
          </h5>
          <p>Reach out to 3 new investors today.</p>

          <span
            class="bg-[#DCDFE4] self-end flex-center text-center p-2 rounded-lg px-4"
            >Accepted</span
          >
        </figure>
        <p>
          Receive AI-generated challenges, tailored to your current comfort zone
          and designed to increase your rejection/success ratio.
        </p>
      </article>

      <article
        class="bg-offWhite rounded-3xl flex flex-col items-center pt-8 px-4 lg:w-[40%] gap-4 h-80"
      >
        <figure
          class="w-full bg-white col-center p-2 justify-between! relative rounded-2xl h-44"
        >
          <img
            loading="lazy"
            class="max-w-32"
            src="/icons/microsoft.png"
            aria-hidden="true"
            alt=""
          />
          <img
            loading="lazy"
            src="/conversation.png"
            aria-hidden="true"
            alt=""
          />
        </figure>
        <p>Take the shot, complete the challenge and log the attempt.</p>
      </article>
    </div>

    <div class="flex flex-col md:flex-row items-center h-fit w-full gap-2">
      <article
        class="bg-offWhite rounded-3xl flex flex-col items-center pt-8 px-4 lg:w-[25%] gap-4 h-80"
      >
        <figure
          class="w-full relative col-center gap-4 bg-white rounded-2xl h-44"
        >
          <img src="/svgs/image.svg" loading="lazy" aria-hidden="true" alt="" />
          <p>Drop Image</p>
        </figure>
        <p>
          Attach context, optionally upload your outreach message or screenshot.
        </p>
      </article>

      <article
        class="bg-offWhite rounded-3xl flex flex-col items-center pt-8 px-4 lg:w-[37.5%] gap-4 h-80"
      >
        <figure
          class="w-full bg-white flex px-4 py-2 flex-col gap-3 pb-2 justify-between relative rounded-2xl h-44"
        >
          <p class="text-neutral-dark text-base">Ai Feedback</p>

          <span class="size-8.5 ring-4 ring-[#F5CD47] text-base font-bold text-neutral-dark rounded-full absolute top-4 right-4 flex-center">7.5</span>

          <div class="col-center w-full gap-5 max-w-72">
            {
              Array.from({ length: 3 }, (_) => (
                <img
                  loading="lazy"
                  src="/icons/line.svg"
                  class="w-full shrink-0"
                  alt=""
                  aria-hidden="true"
                />
              ))
            }
          </div>

          <span
            class="bg-primary self-center text-xs text-white gap-1 flex-center text-center p-2 rounded-lg px-4"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="currentColor" d="m19 1l-1.26 2.75L15 5l2.74 1.26L19 9l1.25-2.74L23 5l-2.75-1.25M9 4L6.5 9.5L1 12l5.5 2.5L9 20l2.5-5.5L17 12l-5.5-2.5M19 15l-1.26 2.74L15 19l2.74 1.25L19 23l1.25-2.75L23 19l-2.75-1.26"/></svg>
            Accepted</span
          >
        </figure>
        <p>
          Get feedback our AI scores tone, clarity, and boldness, and suggests
          concrete fixes.
        </p>
      </article>
      <article
        class="bg-offWhite rounded-3xl flex flex-col items-center pt-8 px-4 lg:w-[37.5%] gap-4 h-80"
      >
        <figure class="w-full bg-white relative col-center rounded-2xl h-44">

          <p class="absolute left-4 top-4 text-neutral-dark text-base">You’ve taken 35 <br /> shots this month</p>

          <img src="/icons/profit.png" class="max-w-[60%]" loading="lazy" aria-hidden="true" alt="">
          <img src="/icons/confetti.svg" class="absolute left-0 bottom-0" loading="lazy" aria-hidden="true" alt="">
        </figure>
        <p>
          Watch your luck curve grow weekly reports show how your exposure and
          efforts compound into real wins.
        </p>
      </article>
    </div>
  </section>
</section>
